ul{
  padding: 0;
}

.completed .todo-input{
  text-decoration: line-through;
}

.todo-item{
  display: flex;
  align-items: center;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 0 15px;
  list-style-type: none;
  margin-bottom: 10px;
}

.todo-input{
  margin: 5px;
  border: none;
  width: 100%;
}

.no-todo{
  text-align: center;
  font-weight: bold;
  color: red;
}

.change-btn{
  margin-right: 10px;
}
